//Color variables

$main-color: #5256ec;
$bg-color: #dde2ea;

$main-text-color: #2c3e50;
$title-text-color: #222;

//Breakpoints

$breakpoints: (
  tablet: 720px,
  desktop: 920px,
);

//Fonts

$main-fonts: Avenir, Helvetica, Arial, sans-serif;
